@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 100vh;
    background-color: #5145BA;
}

.config-container{
    display: none;
    width: 415px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.13);
    text-align: center;
    
}

.config-container .config-title{
    font-size: 1.3rem;
}

.config-container .config-option{
    margin-top: 25px;
}
.config-option .option-title{
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option  .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}

.config-option .question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0 30px;
}

.config-option button {
    padding: 12px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #9B8FFF;
    cursor: pointer;
    border-radius: 8px;
    transition:0.3s ease
}
.config-option button.active{
    color: #5145BA;
    border-color: #5145BA;
    background-color: #dfdafd;
}

.config-option button:hover{
    background-color: #dad5fd;
}

.question-options button{
    flex: 1 1 10%;
}

.config-container .start-quiz-btn{
    color: #fff;
    border: none;
    background-color: #5145BA;
    cursor: pointer;
    margin-top: 30px;
    padding: 13px 25px;
    border-radius: 6px;
    font-weight: 500;
    transition: backgound-color 0.3s ease;
}
.config-container .start-quiz-btn:hover{
    background-color: #403795;
}