@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-height: 100vh;
    background-color: #5145BA;
}

:where(.config-container,.quiz-container,.result-container){
    display: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.13);
}

.config-container{
    width: 415px;
    padding: 25px;
    text-align: center;
    display:block;
    
}

.config-container .config-title{
    font-size: 1.3rem;
}

.config-container .config-option{
    margin-top: 25px;
}
.config-option .option-title{
    font-size: 1.12rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.config-option  .category-options{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}

.config-option .question-options{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 0 30px;
}

.config-option button {
    padding: 12px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #fff;
    border: 1px solid #9B8FFF;
    cursor: pointer;
    border-radius: 8px;
    transition:0.3s ease
}
.config-option button.active{
    color: #5145BA;
    border-color: #5145BA;
    background-color: #dfdafd;
}

.config-option button:hover,
.quiz-content .answer-option:hover{
    background-color: #dad5fd;
}

.question-options button{
    flex: 1 1 10%;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn{
    color: #fff;
    border: none;
    background-color: #5145BA;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: backgound-color 0.3s ease;
}
.config-container .start-quiz-btn{
    margin-top: 30px;
    padding: 13px 25px;
}
.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover:not(:disabled),
.result-container .try-again-btn:hover{
    background-color: #403795;
}

.quiz-container{
    width:480px; 
    /*display: block;*/
}
.quiz-container .quiz-header{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 14px 25px;
    box-shadow:0 3px 6px rgba(0,0,0,0.09); 
}
.quiz-header .quiz-title{
    font-size: 1.4rem;
    font-weight: 700;
}
.quiz-header .quiz-timer{
    display: flex;
    align-items: center;
    gap:5px;
    color:#fff;
    font-weight: 600;
    width:70px;
    background:#32313C;
    border-radius: 6px;
    padding: 7px 9px;
    transition: background 0.3s ease;
}
.quiz-header .quiz-timer span{
   font-size: 1.4rem;
}
.quiz-container .quiz-content {
    padding: 20px 25px 25px;
}
.quiz-content .question-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.quiz-content .answer-options{
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.quiz-content .answer-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: #F3F1FF;
    padding: 13px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #B5ACFF;
    transition: 0.3s ease;
}
.quiz-content .answer-option span{
    display: block ;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}
.quiz-content .answer-option.correct{
    border-color: #B7E1C1;
    background-color: #D4EDDA;
    color: #155724;
}

.quiz-content .answer-option.incorrect{
    border-color: #F4BEC3;
    background-color: #F8D7DA;
    color: #721C24;
}

.quiz-container .quiz-footer{
    padding:15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #c6c6c6;
}
.quiz-footer .question-status{
    font-weight: 500;
}
.question-status b,
.result-container .result-message{
    font-weight: 600;
}
.quiz-footer .next-question-btn{
    display:flex;
    align-items: center;
    gap: 5px;
    padding: 9px 17px;
}

.next-question-btn:disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;

}

.result-container{
    text-align: center;
    padding: 40px;
    width:419px;
}

.result-container img{
    width: 120px;
    mix-blend-mode: multiply;
}
.result-container .result-title{
    margin-top: 30px;
}
.result-container .result-message{
    margin-top: 15px;
    font-weight:500;
    font-size:1.125rem;
}

.result-container .try-again-btn{
    padding: 12px 20px;
    margin-top: 30px;
}
